<div class="profile-container">
  <div class="top-row">
    <div class="top-actions"></div>
  </div>

  <div class="middle-row">
    <span class="location"> </span>
    <div class="search-box"></div>
  </div>

  <div class="bottom-row">
    <div class="back-link" [routerLink]="['/profile']" style="cursor: pointer">
      <i class="fa-solid fa-angle-left"></i> Back
    </div>
  </div>

  <div class="profile">
    <p>Profile</p>
  </div>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  />
  <!-- Main Section -->
  <div class="profile-section">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>

    <!-----     Order card     ----->
    <div
      class="order-card"
      *ngFor="let order of orders"
      (click)="goToTracking(order.id)"
      style="cursor: pointer"
    >
      <!-- HEADER -->
      <div class="order-header">
        <h4>ORDER #{{ order.id }}</h4>
        <p>{{ order.orderDate | date : "dd MMM yyyy, hh:mm a" }}</p>
      </div>

      <div class="order-item" *ngFor="let item of order.items">
        <img class="item-img" [src]="item.mealImg" />

        <div class="item-details">
          <h5>{{ item.mealName }}</h5>
          <p>Quantity: {{ item.quantity }}</p>
          <span class="price">Rs {{ item.price }}</span>
        </div>
      </div>

      <div class="divider"></div>

      <hr />

      <!-- FOOTER -->
      <div class="order-footer">
        <div class="footer-left">
          <p>X{{ getTotalItems(order.items) }} Items</p>
          <h4>Rs {{ order.finalAmount }}</h4>
        </div>
        <button
          class="status-btn"
          [ngClass]="{
            completed: order.status === 'COMPLETED',
            reject: order.status === 'REJECT',
            pending: order.status === 'PENDING'
          }"
        >
          {{ order.status }}
        </button>
      </div>
    </div>
  </div>
</div>
