:host {
  position: relative;
  left: -8px;
  top: -8px;
  width: calc(100% + 16px);
}

.header {
  background-color: rgba(56, 99, 65, 1);
  color: #ffffff;
  font-family: "Inter", "Roboto", Arial, sans-serif;
  padding: 14px 0 24px;
}

.container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 0px;
  margin-left: 90px;
}

/* TOP ROW */
.top-row {
  display: grid;
  grid-template-columns: 180px 1fr 180px;
  align-items: center;
  margin-bottom: 61px;
}

.logo img {
  height: 32px;
  display: block;
  margin-top: 10px;
}

/* center nav links */
.center-nav {
  display: flex;
  justify-content: last baseline;
  gap: 100px;
  margin-left: 75px;
}
.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
}
.nav-link:hover {
  opacity: 1;
}

/* profile */
/*.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-self: end;
}
.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  background: #ffffff;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile-name {
  font-size: 14px;
}*/

/* BOTTOM ROW */
.bottom-row {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* location row */
.location {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 36px;
  font-weight: 500;
}
.location svg {
  color: #ffffff;
}

/* search block */
.search-block {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 15px;
  gap: 10px;
}

/* search pill */
.search-pill {
  position: relative;
  background: #fff;
  border-radius: 32px;
  padding: 10px 42px 10px 16px;
  height: 52px;
  width: 100%; /* full width like screenshot */
  max-width: 900px; /* limit max size */
  display: flex;
  align-items: center;
}

.search-pill input {
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
  font-size: 36px;
  font-weight: 500;
  color: #111;
  margin-left: 14px;
}
.search-pill input::placeholder {
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
}

/* chevron in search */
.chev {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  color: #333;
}

/* filter button */
.filter-btn {
  display: flex;
  align-items: center;
  height: 70px;
  width: 185px;
  gap: 10px;
  background: #fff;
  color: rgba(0, 0, 0, 1);
  border: none;
  border-radius: 20px;
  padding: 10px 14px;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}
.filter-btn svg {
  stroke-width: 2;
}

/* RESPONSIVE */
@media (max-width: 700px) {
  .center-nav {
    display: none;
  }
  .bottom-row {
    align-items: stretch;
  }
  .search-block {
    width: 100%;
  }
}
