/* ===== Form Section ===== */
.form-section {
  flex: 1;
  padding: 40px 60px;
  margin-top: -680px;
  margin-left: 410px;
}

/* ===== Top Buttons ===== */
.top-buttons {
  display: flex;
  gap: 32px;
  margin-bottom: 40px;
}

.btn-outline {
  width: 450px;
  height: 42px;
  background-color: #386341;
  border: 3px solid #386341;
  color: #ffffff;
  border: none;
  padding: 0px 50px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.btn-filled {
  width: 420px;
  height: 42px;
  color: #000000;
  border: 3px solid #345c3c;
  padding: 0px 50px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

/* ===== Form Styling ===== */
.form-wrapper {
  display: flex;
  justify-content: flex-start;
}

.cuisine-form {
  width: 100%;
  max-width: 900px;
}

.form-row {
  display: flex;
  gap: 31px;
  margin-bottom: 24px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 20px;
  color: #000000;
  margin-bottom: 6px;
}

input {
  width: 100%;
  height: 51px;
  border: 1px solid #a2a1a1;
  border-radius: 20px;
  padding: 0 12px;
  font-size: 14px;
  outline: none;
}

input:focus {
  border-color: #2f5631;
}

/* ===== File Upload ===== */
.file-upload {
  width: 423px;
  height: 51px;
  display: flex;
  align-items: center;
  border: 1px solid #a2a1a1;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

.file-upload input[type="file"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.choose-btn {
  background-color: #d9d9d9;
  border: none;
  height: 56px;
  padding: 18px 30px;
  font-size: 16px;
  cursor: pointer;
  flex-shrink: 0;
}

.file-name {
  flex: 1;
  text-align: center;
  font-size: 16px;
  color: #000;
}

/* ===== Dropdown ===== */
.dropdown-wrapper {
  position: relative;
  width: 100%;
  outline: none;
}

.fake-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 51px;
  width: 100%;
  border: 1px solid #a2a1a1;
  border-radius: 20px;
  background: #fff;
  cursor: pointer;
}

#description {
  width: 100%;
  height: 80px;
  border-radius: 20px;
  border: 1px solid #a2a1a1;
}

/* ===== Submit Button ===== */
.submit-row {
  text-align: center;
  margin-top: 20px;
}

.submit-btn {
  width: 150px;
  height: 45px;
  background-color: #345c3c;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 56px;
}

.submit-btn:hover {
  background-color: #2f5631;
}
