<div class="page-bg">
  <div class="login-card">

    <!-- LEFT FORM (NO GLASS) -->
    <div class="login-form">
      <h2>Welcome Back to Tiffino</h2>
      <p class="subtitle">Log in with your email</p>

      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

        <label>Email</label>
        <input type="email" formControlName="email" />
        <small *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
          Valid email is required
        </small>

        <label>Password</label>
        <input type="password" formControlName="password" />
        <small *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
          Password is required
        </small>

        <button class="login-btn" type="submit" [disabled]="loginForm.invalid || loading">
          {{ loading ? 'Logging in...' : 'Login' }}
        </button>

        <p class="error-text" *ngIf="errorMessage">{{ errorMessage }}</p>

      </form>

      <p class="help-text">
        please contact support&#64;shidori.in or use the in-app Help section.
      </p>
    </div>

    <!-- RIGHT GLASS ONLY -->
    <div class="glass-section">
      <h1>Let’s Get Started !</h1>
    </div>

  </div>
</div>
