<app-managersidebar></app-managersidebar>
 
<div class="subscription-wrapper">

 
  <div class="cards-scroll-area">
<!-- CARD 1 -->
<div class="card" >
<!-- ROW 1: Delivery No + Date -->


<div class="card order-card">

  <table class="order-table">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Date</th>
        <th>Status</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let order of pendingOrders; let i = index">
        <td>#{{ order.id }}</td>

        <td>
          {{ order.orderDate | date:'dd MMM yyyy' }}
        </td>

        <td>
          <span
            class="status-badge"
            [ngClass]="order.subscriberStatus?.toLowerCase()"
          >
            {{ order.subscriberStatus }}
          </span>
        </td>

       <td class="text-center">

  <!-- Non-subscriber → View button -->
 <!-- Non Subscriber -->
<button
  *ngIf="order.subscriberStatus === 'Non_Subscriber'"
  class="btn btn-view"
  (click)="openOrder(order.id)">
  View
</button>

<!-- Subscriber -->
<button
  *ngIf="order.subscriberStatus !== 'Non_Subscriber'"
  class="btn btn-order"
  (click)="openOrder(order.id, order.userId)">
  Order
</button>


</td>


      <!-- Empty State -->
      <tr *ngIf="pendingOrders?.length === 0">
        <td colspan="4" class="empty-state">
          No pending orders found
        </td>
      </tr>
    </tbody>
  </table>

</div>


 
      <!-- Details -->

</div>
 
    <!-- CARD 2 -->

 
    <!-- CARD 3 -->

</div>
</div>
 