<app-superadmin-sidebar></app-superadmin-sidebar>
 
<div class="employee-details-wrapper">
  <div class="employee-card">
    <div class="employee-left">
      <!-- <div class="employee-top">
        <img src="assets/ravis.jpg" alt="Employee Photo" class="employee-img" />
        <h3 class="employee-name">Name: Ravi Sharma</h3>
      </div> -->
 
      <!-- Info below image -->
      <div class="employee-info" *ngFor="let emp of employee">
        <p>Kitchen ID: {{emp.kitchenCode}}</p>
        <p>Position: {{emp.kitchenCode}}</p>
        <p>Employee ID: {{emp.managerCode || emp.partnerCode || emp.chefCode }}</p>
        <p>Current Address: {{emp.currentAddress}}</p>
        <p>Permanent Address: {{emp.permanentAddress}}</p>
        <p>Phone No.: {{emp.phone}}</p>
        <p>Aadhar Card: {{emp.kitchenCode}}</p>
        <p>PAN Card: {{emp.kitchenCode}}</p>
        <p>Email: {{emp.email}}</p>
        <p>DOB: {{emp.dateOfBirth}}</p>
        <p>Account No.: {{emp.bankAccountNum}}</p>
      </div>
    </div>
 
    <!-- Illustration image at bottom right -->
    <!-- <div class="employee-illustration">
      <img src="assets/managerdet.png" alt="Illustration" />
    </div> -->
  </div>
 
  <!-- Delivery Section -->
  <div class="delivery-section">
    <div class="delivery-card delivered">
      <div class="delivery-header">
        <p class="delivery-number">
          <span class="number">Delivery Number:</span> 01
        </p>
        <span class="status delivered-text">Delivered</span>
      </div>
 
      <div class="delivery-details">
        <p><span class="label">Delivery Time expected:</span> 30 Mins</p>
        <p><span class="label">Order Started at:</span> 4:30 PM</p>
        <p><span class="label">Order Completed at:</span> 5:40 PM</p>
        <p><span class="label">Date:</span> 09/05/2025</p>
      </div>
    </div>
 
    <div class="delivery-card non-delivered">
      <div class="delivery-header">
        <p class="delivery-number">
          <span class="number">Delivery Number:</span> 02
        </p>
        <span class="status non-delivered-text">Non-Delivered</span>
      </div>
 
      <div class="delivery-details">
        <p><span class="label">Delivery Time expected:</span> 30 Mins</p>
        <p><span class="label">Order Started at:</span> 4:30 PM</p>
        <p><span class="label">Order Completed at:</span> 5:40 PM</p>
        <p><span class="label">Date:</span> 09/05/2025</p>
      </div>
    </div>
  </div>
</div>
