<app-manager-sidebar>

  <div class="dashboard-wrapper">

    <!-- LEFT CARD -->
    <div class="card">
      <h3 class="date-title">17 Oct 2025</h3>
      <p class="day">Friday</p>
      <p class="time">09:56:56</p>

      <p class="swipe">view Swipe</p>

      <button class="btn-signin">Sign In</button>
    </div>

    <!-- RIGHT CARD -->
    <div class="card">
      <h3 class="balance-title">Leaves In balance</h3>

      <p class="line">4.5 Days</p>
      <p class="line">1.5 days from August</p>
      <p class="line">1.5 days from September</p>
      <p class="line">1.5 days from October</p>

      <button class="btn-apply">Apply Leave</button>
    </div>

  </div>

</app-manager-sidebar>
