<app-managersidebar></app-managersidebar>

<!-- apply-leave.component.html -->
<div class="apply-wrapper">
  <h2>Apply for leave</h2>

  <!-- Leave Type as normal input -->
  <input type="text" class="input-box leave-type" value="Leave type" readonly />

  <div class="small-fields">
    <div>
      <input type="text" class="input-box" value="From date" readonly />
    </div>

    <div>
      <input type="text" class="input-box" value="To date" />
    </div>

    <div>
      <input type="text" class="input-box" value="Contact Details" />
    </div>
    <div class="reason-input" contenteditable="true">Reason</div>
  </div>

  <!-- <textarea class="reason-box" placeholder=""></textarea> -->

  <div class="submit-btn">
    <button>Submit</button>
  </div>
</div>
