<app-delpartnersidebar></app-delpartnersidebar>

<div class="subscription-wrapper">
  <!-- Toggle Buttons -->

  <!-- Scrollable Cards -->
  <div class="cards-scroll-area">
    <!-- CARD 1 -->
    <div class="card">
      <div class="card-header">
        <p class="name"><strong>Delivery No.- 01</strong></p>
      </div>

      <div class="card-body">
        <p><strong>Delivery Time expected: </strong>30 Mins</p>
        <p><strong>Order Started at:</strong> 4:30 Pm</p>
        <p><strong>Order Completed at: </strong> 5:40 Pm</p>
        <p><strong>Date: </strong> 09/05/ 2025</p>
        <p><strong>Rating for you: </strong> 3.5</p>
      </div>
    </div>

    <!-- CARD 2 -->
    <div class="card">
      <div class="card-header">
        <p class="name"><strong>Delivery No.- 02</strong></p>
      </div>

      <div class="card-body">
        <p><strong>Delivery Time expected: </strong>30 Mins</p>
        <p><strong>Order Started at:</strong> 4:30 Pm</p>
        <p><strong>Order Completed at: </strong> 5:40 Pm</p>
        <p><strong>Date: </strong> 09/05/ 2025</p>
        <p><strong>Rating for you: </strong> 3.5</p>
      </div>
    </div>

    <!-- CARD 3 -->
    <div class="card">
      <div class="card-header">
        <p class="name"><strong>Delivery No.- 03</strong></p>
      </div>

      <div class="card-body">
        <p><strong>Delivery Time expected: </strong>30 Mins</p>
        <p><strong>Order Started at:</strong> 4:30 Pm</p>
        <p><strong>Order Completed at: </strong> 5:40 Pm</p>
        <p><strong>Date: </strong> 09/05/ 2025</p>
        <p><strong>Rating for you: </strong> 3.5</p>
      </div>
    </div>
  </div>
</div>
