.subscription-wrapper {
  width: 100%;
  max-width: 380px;
  margin-left: 480px;
  margin-top: -420px;
  font-family: "Poppins", sans-serif;
}

/* Scroll Area */
.cards-scroll-area {
  max-height: 650px;
  width: 866px;
  overflow-y: auto;
  scrollbar-width: none;
}

.cards-scroll-area::-webkit-scrollbar {
  display: none;
}

/* Card */
.card {
  width: 866px;
  background: #fff;
  border-radius: 40px;
  padding: 12px 15px;
  margin-bottom: 14px;
  border: none;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  margin-bottom: -25px;
}

.card-header .name {
  font-size: 24px;
  margin-top: 5px;
  color: #000;
}

.status {
  font-size: 24px;
  font-weight: 600;
}

.card-body p {
  font-size: 20px;
  color: #000;
  margin-bottom: 12px;
}
