<div class="wrapper">
  <h2 class="section-title">Punjabi:</h2>

  <div class="cards-container">
    <!-- 1 -->
    <div class="card">
      <img src="/assets/dalmakhni.png" alt="Dal Makhni" class="card-img" />
      <div class="card-body">
        <div class="card-top">
          <h3 class="card-title">Dal Makhni</h3>
          <div class="rating"><span class="stars">☆☆☆☆</span></div>
        </div>
        <p class="card-text">
          Creamy black lentils slow-cooked with butter and cream.
        </p>
        <div class="price-cart">
          <span class="price">Rs 500</span>
          <button class="add-btn">Add to Cart</button>
        </div>
      </div>
    </div>

    <!-- 2 -->
    <div class="card">
      <img src="/assets/rajma.png" alt="Rajma Chawal" class="card-img" />
      <div class="card-body">
        <div class="card-top">
          <h3 class="card-title">Rajma Chawal</h3>
          <div class="rating"><span class="stars">☆☆☆☆</span></div>
        </div>
        <p class="card-text">
          Bold spices, creamy gravies, and oven-fresh breads define North Indian
          comfort food.
        </p>
        <div class="price-cart">
          <span class="price">Rs 500</span>
          <button class="add-btn">Add to Cart</button>
        </div>
      </div>
    </div>

    <!-- 3 -->
    <div class="card">
      <img src="/assets/chole.png" alt="Chole" class="card-img" />
      <div class="card-body">
        <div class="card-top">
          <h3 class="card-title">Chole</h3>
          <div class="rating"><span class="stars">☆☆☆☆</span></div>
        </div>
        <p class="card-text">
          Spicy chickpea curry simmered with Punjabi masala.
        </p>
        <div class="price-cart">
          <span class="price">Rs 500</span>
          <button class="add-btn">Add to Cart</button>
        </div>
      </div>
    </div>

    <!-- 4 -->
    <div class="card">
      <img
        src="/assets/cholebhature.png"
        alt="Chole Bhature"
        class="card-img"
      />
      <div class="card-body">
        <div class="card-top">
          <h3 class="card-title">Chole Bhature</h3>
          <div class="rating"><span class="stars">☆☆☆☆</span></div>
        </div>
        <p class="card-text">
          Fluffy bhature served with tangy, spiced chickpeas.
        </p>
        <div class="price-cart">
          <span class="price">Rs 500</span>
          <button class="add-btn">Add to Cart</button>
        </div>
      </div>
    </div>

    <!-- 5 -->
    <div class="card">
      <img
        src="/assets/pbuttermasala.png"
        alt="Paneer Butter Masala"
        class="card-img"
      />
      <div class="card-body">
        <div class="card-top">
          <h3 class="card-title">Paneer Butter Masala</h3>
          <div class="rating"><span class="stars">☆☆☆☆</span></div>
        </div>
        <p class="card-text">Cottage cheese in a rich, buttery tomato gravy.</p>
        <div class="price-cart">
          <span class="price">Rs 500</span>
          <button class="add-btn">Add to Cart</button>
        </div>
      </div>
    </div>

    <!-- 6 -->
    <div class="card">
      <img src="/assets/sarso.png" alt="Sarson da Saag" class="card-img" />
      <div class="card-body">
        <div class="card-top">
          <h3 class="card-title">Sarson da Saag</h3>
          <div class="rating"><span class="stars">☆☆☆☆</span></div>
        </div>
        <p class="card-text">
          Mustard greens cooked with spices, best paired with makki di roti..
        </p>
        <div class="price-cart">
          <span class="price">Rs 500</span>
          <button class="add-btn">Add to Cart</button>
        </div>
      </div>
    </div>

    <!-- 7 -->
    <div class="card">
      <img src="/assets/kulcha.png" alt="Amritsari Kulcha" class="card-img" />
      <div class="card-body">
        <div class="card-top">
          <h3 class="card-title">Amritsari Kulcha</h3>
          <div class="rating"><span class="stars">☆☆☆☆</span></div>
        </div>
        <p class="card-text">
          Oven-baked flatbread stuffed with spiced potatoes or paneer. Served
          hot with chole.
        </p>
        <div class="price-cart">
          <span class="price">Rs 500</span>
          <button class="add-btn">Add to Cart</button>
        </div>
      </div>
    </div>

    <!-- 8 -->
    <div class="card">
      <img src="/assets/shahipaneer.png" alt="Shahi Paneery" class="card-img" />
      <div class="card-body">
        <div class="card-top">
          <h3 class="card-title">Shahi Paneer</h3>
          <div class="rating"><span class="stars">☆☆☆☆</span></div>
        </div>
        <p class="card-text">
          Paneer in a rich, creamy cashew and tomato gravy. A royal dish with
          mild, aromatic flavors.
        </p>
        <div class="price-cart">
          <span class="price">Rs 500</span>
          <button class="add-btn">Add to Cart</button>
        </div>
      </div>
    </div>

    <!-- 9 -->
    <div class="card">
      <img
        src="/assets/punjabikadhi.png"
        alt="Punjabi Kadhi Pakora"
        class="card-img"
      />
      <div class="card-body">
        <div class="card-top">
          <h3 class="card-title">Punjabi Kadhi Pakora</h3>
          <div class="rating"><span class="stars">☆☆☆☆</span></div>
        </div>
        <p class="card-text">
          Tangy yogurt curry with gram flour fritters. Light, hearty, and
          homestyle.
        </p>
        <div class="price-cart">
          <span class="price">Rs 500</span>
          <button class="add-btn">Add to Cart</button>
        </div>
      </div>
    </div>

    <!-- 10 -->
    <div class="card">
      <img src="/assets/butter.png" alt="Butter Chicken" class="card-img" />
      <div class="card-body">
        <div class="card-top">
          <h3 class="card-title">Butter Chicken</h3>
          <div class="rating"><span class="stars">☆☆☆☆</span></div>
        </div>
        <p class="card-text">
          Juicy chicken in a buttery, spiced tomato-cream gravy. One of the most
          iconic Punjabi dishes.
        </p>
        <div class="price-cart">
          <span class="price">Rs 500</span>
          <button class="add-btn">Add to Cart</button>
        </div>
      </div>
    </div>

    <!-- 11 -->
    <div class="card">
      <img src="/assets/tandoori.png" alt="Tandoori Roti" class="card-img" />
      <div class="card-body">
        <div class="card-top">
          <h3 class="card-title">Tandoori Roti</h3>
          <div class="rating"><span class="stars">☆☆☆☆</span></div>
        </div>
        <p class="card-text">
          Whole wheat flatbread baked in a clay oven. Served warm with curries
          and kebabs.
        </p>
        <div class="price-cart">
          <span class="price">Rs 500</span>
          <button class="add-btn">Add to Cart</button>
        </div>
      </div>
    </div>

    <!-- 12 -->
    <div class="card">
      <img src="/assets/kadhai.png" alt="Kadhai Paneer" class="card-img" />
      <div class="card-body">
        <div class="card-top">
          <h3 class="card-title">Kadhai Paneer</h3>
          <div class="rating"><span class="stars">☆☆☆☆</span></div>
        </div>
        <p class="card-text">
          Paneer stir-fried with capsicum and onions in a spicy masala.
          Semi-dry, flavorful, and bold.
        </p>
        <div class="price-cart">
          <span class="price">Rs 500</span>
          <button class="add-btn">Add to Cart</button>
        </div>
      </div>
    </div>

    <!-- 13 -->
    <div class="card">
      <img src="/assets/baingan.png" alt="Baingan Bharta" class="card-img" />
      <div class="card-body">
        <div class="card-top">
          <h3 class="card-title">Baingan Bharta</h3>
          <div class="rating"><span class="stars">☆☆☆☆</span></div>
        </div>
        <p class="card-text">
          Roasted eggplant mashed and cooked with onions and tomatoes. Smoky,
          earthy, and delicious.
        </p>
        <div class="price-cart">
          <span class="price">Rs 500</span>
          <button class="add-btn">Add to Cart</button>
        </div>
      </div>
    </div>

    <!-- 14 -->
    <div class="card">
      <img src="/assets/pindi.png" alt="Pindi Chole" class="card-img" />
      <div class="card-body">
        <div class="card-top">
          <h3 class="card-title">Pindi Chole</h3>
          <div class="rating"><span class="stars">☆☆☆☆</span></div>
        </div>
        <p class="card-text">
          Dry-style chickpeas cooked with robust Punjabi spices. Rich in flavor
          with a rustic touch..
        </p>
        <div class="price-cart">
          <span class="price">Rs 500</span>
          <button class="add-btn">Add to Cart</button>
        </div>
      </div>
    </div>

    <!-- 15 -->
    <div class="card">
      <img
        src="/assets/paneermakhani.png"
        alt="Paneer Makhni"
        class="card-img"
      />
      <div class="card-body">
        <div class="card-top">
          <h3 class="card-title">Paneer Makhni</h3>
          <div class="rating"><span class="stars">☆☆☆☆</span></div>
        </div>
        <p class="card-text">
          Bold spices, creamy gravies, and oven-fresh breads define North Indian
          comfort food.
        </p>
        <div class="price-cart">
          <span class="price">Rs 500</span>
          <button class="add-btn">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
