<app-managersidebar></app-managersidebar>
 
<div class="order-container">
<!-- TOP CONTENT WRAPPER -->
<div class="order-top">
<!-- Header -->
<div class="order-header" *ngIf="orderDetails">
<span class="order-date">
  {{ orderDetails.orderDate | date:'dd/MM/yyyy' }}
</span>
<span class="order-time">  {{ orderDetails.orderDate | date:'hh:mm a' }}</span>
</div>

<!-- <div class="order-header" *ngIf="!orderDetails">
<span class="order-date">17 Oct 2025</span>
<span class="order-time">04:50 PM</span>
</div> -->
 
    <!-- Customer Info -->
<div class="customer-info" *ngIf="orderDetails">

  <p class="row-flex">
    Name:– <span>{{ orderDetails.name }}</span>

    <!-- Subscriber badge -->
    <!-- <span
  class="subscriber-badge"
  [ngClass]="{
    'badge-green': orderDetails?.subscriberStatus === 'Subscriber',
    'badge-red': orderDetails?.subscriberStatus === 'Non_Subscriber'
  }">
  {{ orderDetails?.subscriberStatus }}
</span> -->

    <!-- Non subscriber badge -->
    <span
      class="subscriber-badge"
        *ngIf="orderDetails?.subscriberStatus === 'Non_Subscriber'"
        style="color: red;     margin-left: 460px"
      >
      Non-Subscriber
    </span>
    <span
      class="subscriber-badge"
        *ngIf="orderDetails?.subscriberStatus === 'Subscriber'"
        
      >
      Subscriber
    </span>
  </p>

</div>
<div *ngIf="mealDetails">

  <p *ngIf="mealDetails.dietType">
    Dietary Preference:– <span>{{ mealDetails.dietType }}</span>
  </p>

  <p *ngIf="mealDetails.spiceLevel">
    Spice Level:– <span>{{ mealDetails.spiceLevel }}</span>
  </p>

  <p class="nutrition-row" *ngIf="mealDetails.nutritionInfo">
    <span class="label">Health & Nutrition:–</span>
    <span class="value">{{ mealDetails.nutritionInfo }}</span>
  </p>

  <p *ngIf="mealDetails.allergens">
    Allergens:– <span>{{ mealDetails.allergens }}</span>
  </p>

</div>

 
    <!-- Food Card -->
<div class="food-card" *ngIf="orderDetails?.items?.length > 0">
<img
  *ngIf="orderDetails?.items?.length > 0"
  [src]="orderDetails.items[0].mealImg"
  alt="Meal Image"
/>


<div class="food-details">
  <h4>{{ orderDetails.items[0].mealName }}</h4>

  <p class="meal-meta" *ngIf="orderDetails?.items?.length > 0 || mealDetails">
  <span *ngIf="orderDetails.items[0].quantity"> <b>Qty: {{ orderDetails.items[0].quantity }}</b> &nbsp;|&nbsp;</span>
  
  <span *ngIf="orderDetails.items[0].individualUnitPrice"> <b>Price: ₹</b>{{ orderDetails.items[0].individualUnitPrice }} &nbsp;|&nbsp;</span>

 <span *ngIf="orderDetails.items[0].quantity && orderDetails.items[0].individualUnitPrice"><b>Total: ₹</b>

    {{ orderDetails.items[0].quantity * orderDetails.items[0].individualUnitPrice }}&nbsp;|&nbsp;
  </span>

 <span *ngIf="mealDetails?.amount"><b>Total: ₹</b>

    {{ mealDetails?.amount }}
  </span>

</p>

</div>
</div>
</div>
</div>
 
<!-- ========== BUTTON OUTSIDE THE CONTAINER ========== -->
<div class="order-button-outside">
<button class="start-btn" (click)="goToDeliveryPartner()">Start Order</button>
</div>
 
