/* superadminemployeedetails.component.css */

.employee-details-wrapper {
  background: #f7f8fa;
  margin-top: -410px;
  margin-left: 494px;
  margin-right: 70px;
}

.employee-card {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border: 3px solid #386341;
  border-radius: 20px;
  padding: 48px 60px;
  background-color: #e0fee4;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.employee-card::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 11px;
  right: 11px;
  bottom: 11px;
  border: 3px solid #386341;
  border-radius: 20px;
  pointer-events: none;
}

.employee-left {
  display: flex;
  flex-direction: column;
}

/* Image and Name beside each other */
.employee-top {
  display: flex;
  align-items: center;
  gap: 30px;
}

.employee-img {
  width: 143px;
  height: 141px;
  border-radius: 50%;
  object-fit: cover;
}

.employee-name {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}

/* Info below image */
.employee-info {
  margin-top: 25px;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}

.employee-info p {
  margin-bottom: 12px;
}

/* Illustration image at bottom right (absolute position) */
.employee-illustration {
  position: absolute;
  right: 30px;
  left: 379px;
  bottom: 0;
}

.employee-illustration img {
  width: 612px;
  height: 408px;
  display: block;
  margin-bottom: 14px; /* ensures it touches the bottom edge */
}

/* Delivery Section */
.delivery-section {
  margin-top: 24px;
  font-family: "Poppins", sans-serif;
}

.delivery-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 20px;
  transition: transform 0.2s ease-in-out;
}

.delivery-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.delivery-number {
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  margin: 0;
}
.number {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}

.status {
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
}

.delivered-text {
  color: #2ae484;
}

.non-delivered-text {
  color: #ff0000;
}

/* Label part bold */
.label {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

/* Details */
.delivery-details p {
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
  color: #000000;
}
