<app-superadmin-sidebar></app-superadmin-sidebar>   
<div class="managerinfo-wrapper">
  <!-- Dropdown for role -->
 
  <div class="role-selection-row">
    <div class="dropdown-wrapper" tabindex="0">
      <button class="fake-select">
        <span class="label">Chef</span>
        <span class="chev" aria-hidden="true">
          <svg
            class="dropdown-icon"
            width="40"
            height="40"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7 10l5 5 5-5"
              stroke="rgba(31, 31, 31, 1)"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
      </button>
 
      <ul class="dropdown-panel">
        <li (click)="onRoleChangeCustom('manager')" class="dropdown-item">
          Manager
        </li>
        <li (click)="onRoleChangeCustom('chef')" class="dropdown-item">Chef</li>
        <li
          (click)="onRoleChangeCustom('delivery-partner')"
          class="dropdown-item"
        >
          Delivery Partner
        </li>
      </ul>
    </div>
  </div>
 
  <!-- Registration form -->
  <form class="manager-form" [formGroup]="chefForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group">
  <label for="name">Name</label>
  <input id="name" type="text" formControlName="name" />

  <small *ngIf="chefForm.get('name')?.touched && chefForm.get('name')?.errors" class="error">
    <span *ngIf="chefForm.get('name')?.errors?.['required']">
      Name is required
    </span>
    <span *ngIf="chefForm.get('name')?.errors?.['pattern']">
      Only letters allowed, no spaces or numbers
    </span>
  </small>
</div>

  <div class="form-group">
  <label for="email">Email</label>
  <input id="email" type="email" formControlName="email" />

  <small *ngIf="chefForm.get('email')?.touched && chefForm.get('email')?.errors" class="error">
    <span *ngIf="chefForm.get('email')?.errors?.['required']">
      Email is required
    </span>
    <span *ngIf="chefForm.get('email')?.errors?.['email'] || chefForm.get('email')?.errors?.['pattern']">
      Enter a valid email address
    </span>
  </small>
</div>

  </div>

  <div class="form-row">
   <div class="form-group">
  <label for="dob">DOB</label>
  <input id="dob" type="text" placeholder="YYYY-MM-DD" formControlName="dateOfBirth" />

  <small *ngIf="chefForm.get('dateOfBirth')?.touched && chefForm.get('dateOfBirth')?.errors" class="error">
    <span *ngIf="chefForm.get('dateOfBirth')?.errors?.['required']">
      Date of Birth is required
    </span>
    <span *ngIf="chefForm.get('dateOfBirth')?.errors?.['pattern']">
      Enter valid DOB in YYYY-MM-DD format
    </span>
    <span *ngIf="chefForm.get('dateOfBirth')?.errors?.['minAge']">
      Minimum age must be 18 years
    </span>
    <span *ngIf="chefForm.get('dateOfBirth')?.errors?.['invalidDate']">
      Invalid date
    </span>
  </small>
</div>

   <div class="form-group">
  <label for="phone">Phone No.</label>
  <input id="phone" type="text" formControlName="phone" />

  <small *ngIf="chefForm.get('phone')?.touched && chefForm.get('phone')?.errors" class="error">
    <span *ngIf="chefForm.get('phone')?.errors?.['required']">
      Phone number is required
    </span>
    <span *ngIf="chefForm.get('phone')?.errors?.['pattern']">
      Enter a valid 10-digit phone number
    </span>
  </small>
</div>

  </div>

  <div class="form-row">
    <div class="form-group">
  <label for="kitchen-id">Kitchen ID</label>
  <input id="kitchen-id" type="text" formControlName="kitchenCode" />

  <small *ngIf="chefForm.get('kitchenCode')?.touched && chefForm.get('kitchenCode')?.errors" class="error">
    <span *ngIf="chefForm.get('kitchenCode')?.errors?.['required']">
      Kitchen Code is required
    </span>
    <span *ngIf="chefForm.get('kitchenCode')?.errors?.['pattern']">
      Only letters and numbers allowed (no spaces or special characters)
    </span>
  </small>
</div>

    <div class="form-group file-group">
  <label for="photo">Photo</label>
  <div class="custom-file-input">
    <span *ngIf="uploadedFiles.photo.uploaded" class="file-success">
          {{ uploadedFiles.photo.name }}
        </span>
 
    <input id="photo" type="file" (change)="onFileSelected($event, 'photo')" accept=".pdf,image/*" />
  </div>
</div>
  </div>

  <div class="form-row">
    <div class="form-group file-group">
  <label for="aadhar">Aadhar No.</label>
  <div class="custom-file-input">
    <span *ngIf="uploadedFiles.aadhar.uploaded" class="file-success">
          {{ uploadedFiles.aadhar.name }}
        </span>
    <input id="aadhar" type="file" (change)="onFileSelected($event, 'aadhar')" accept=".pdf,image/*" />
  </div>
</div>
    <div class="form-group file-group">
  <label for="pan-card">PAN card No.</label>
  <div class="custom-file-input">
    <span *ngIf="uploadedFiles.panCard.uploaded" class="file-success">
          {{ uploadedFiles.panCard.name }}
        </span>
    <input id="pan-card" type="file" (change)="onFileSelected($event, 'panCard')" accept=".pdf,image/*" />
  </div>
</div>
  </div>

  <div class="form-row">
   <div class="form-group">
  <label for="bank-acct">Bank Account No.</label>
  <input id="bank-acct" type="text" formControlName="bankAccountNum" />

  <small *ngIf="chefForm.get('bankAccountNum')?.touched && chefForm.get('bankAccountNum')?.errors" class="error">
    <span *ngIf="chefForm.get('bankAccountNum')?.errors?.['required']">
      Bank account number is required
    </span>
    <span *ngIf="chefForm.get('bankAccountNum')?.errors?.['pattern']">
      Enter a valid account number (9–18 digits)
    </span>
  </small>
</div>

    <div class="form-group file-group">
  <label for="cheque-book">Cheque Book</label>
  <div class="custom-file-input">
    <span *ngIf="uploadedFiles.chequeBook.uploaded" class="file-success">
          {{ uploadedFiles.chequeBook.name }}
        </span>
    <input id="cheque-book" type="file" (change)="onFileSelected($event, 'chequeBook')" accept=".pdf,image/*"/>
  </div>
</div>
  </div>

  <div class="form-group full">
  <label for="chef-specialization">Chef Specialization</label>
  <textarea id="chef-specialization" class="address-box" formControlName="specialization"></textarea>

  <small *ngIf="chefForm.get('specialization')?.touched && chefForm.get('specialization')?.errors" class="error">
    <span *ngIf="chefForm.get('specialization')?.errors?.['required']">
      Specialization is required
    </span>
    <span *ngIf="chefForm.get('specialization')?.errors?.['minlength']">
      Minimum 5 characters required
    </span>
    <span *ngIf="chefForm.get('specialization')?.errors?.['maxlength']">
      Maximum 100 characters allowed
    </span>
    <span *ngIf="chefForm.get('specialization')?.errors?.['pattern']">
      Only letters, numbers, spaces, commas, periods, hyphens allowed
    </span>
  </small>
</div>


 <div class="form-group full">
  <label for="perm-address">Permanent Address</label>
  <textarea id="perm-address" class="address-box" formControlName="permanentAddress"></textarea>

  <small *ngIf="chefForm.get('permanentAddress')?.touched && chefForm.get('permanentAddress')?.errors" class="error">
    <span *ngIf="chefForm.get('permanentAddress')?.errors?.['required']">
      Permanent address is required
    </span>
    <span *ngIf="chefForm.get('permanentAddress')?.errors?.['minlength']">
      Minimum 10 characters required
    </span>
    <span *ngIf="chefForm.get('permanentAddress')?.errors?.['maxlength']">
      Maximum 200 characters allowed
    </span>
    <span *ngIf="chefForm.get('permanentAddress')?.errors?.['pattern']">
      Only letters, numbers, spaces, comma, period, hyphen allowed
    </span>
  </small>
</div>


  <div class="form-group full">
  <label for="curr-address">Current Address</label>
  <textarea id="curr-address" class="address-box" formControlName="currentAddress"></textarea>

  <small *ngIf="chefForm.get('currentAddress')?.touched && chefForm.get('currentAddress')?.errors" class="error">
    <span *ngIf="chefForm.get('currentAddress')?.errors?.['required']">
      Current address is required
    </span>
    <span *ngIf="chefForm.get('currentAddress')?.errors?.['minlength']">
      Minimum 10 characters required
    </span>
    <span *ngIf="chefForm.get('currentAddress')?.errors?.['maxlength']">
      Maximum 200 characters allowed
    </span>
    <span *ngIf="chefForm.get('currentAddress')?.errors?.['pattern']">
      Only letters, numbers, spaces, comma, period, hyphen allowed
    </span>
  </small>
</div>


  <div class="form-group full">
  <label for="ifsc">IFSC Code</label>
  <textarea id="ifsc" class="ifsc" formControlName="ifsc"></textarea>

  <small *ngIf="chefForm.get('ifsc')?.touched && chefForm.get('ifsc')?.errors" class="error">
    <span *ngIf="chefForm.get('ifsc')?.errors?.['required']">
      IFSC Code is required
    </span>
    <span *ngIf="chefForm.get('ifsc')?.errors?.['pattern']">
      Enter valid IFSC Code (e.g., HDFC0123456)
    </span>
  </small>
</div>


  <div class="submit-row">
    <button type="submit">Submit</button>
  </div>
</form>

</div>
 
 