<!-- Progress Bar -->
<div class="progress-container">
  <div class="progress-line"></div>

  <div class="progress-step completed">
    <div class="circle"><i class="fa-solid fa-check"></i></div>
    <p>Order Started</p>
  </div>

  <div class="progress-step completed">
    <div class="circle"><i class="fa-solid fa-check"></i></div>
    <p>At Pickup Point</p>
  </div>

  <div class="progress-step completed">
    <div class="circle"><i class="fa-solid fa-check"></i></div>
    <p>Order Picked</p>
  </div>

  <div class="progress-step">
    <div class="circle"></div>
    <p>On the way</p>
  </div>

  <div class="progress-step">
    <div class="circle"></div>
    <p>DELIVERED</p>
  </div>
</div>

<div class="plan-box monthly-plan-box">
  <h3 class="plan-title">Monthly Plan</h3>
  <ul class="plan-features">
    <li>Priority delivery and guaranteed freshness</li>
    <li>Access to weekly chef's specials and regional dishes</li>
    <li>Option to track calories and view meal nutrition</li>
    <li>Customizable Meal Options</li>
    <li>Healthy & Balanced Nutrition</li>
  </ul>
</div>
<div class="total-amount-box">
  <p class="total-amount-text">
    Total Amount Paid <span class="paid-amount"> 5000 Rs</span>
  </p>
  <p class="plan-type-text">Your Monthly Plan</p>
</div>
<!-- BOXES -->
<div class="bill-section">
  <h3 class="bill-heading">Bill Details:</h3>

  <div class="bill-box">
    <h4 class="order-summary-title">Order Summary</h4>

    <!-- BOXES -->
    <div class="border-boxes">
      <div class="box">
        <p>Plan Amount</p>
        <span>Rs 100</span>
      </div>
      <div class="box">
        <p>X1 Ras Malai</p>
        <span>Rs 100</span>
      </div>
      <div class="box last-box">
        <p>X1 Khichadi</p>
        <span>Rs 100</span>
      </div>
    </div>

    <!-- PRICE DETAILS -->
    <div class="price-details">
      <p>Delivery <span>Rs 10</span></p>
      <p class="with-border discount">Discount <span>- Rs 10</span></p>
      <p>Total <span>Rs 300</span></p>
      <p class="with-border tax">Tax <span>Rs 72</span></p>
      <p class="total">Order Total <span>Rs 372</span></p>
    </div>

    <button class="make-payment-btn">Make Payment</button>
  </div>

  <p class="note-text">
    Note: All prices are inclusive of applicable taxes. <br />
    Meals are freshly prepared and delivered daily as per your chosen schedule.
    <br />
    For any billing or payment issues, please contact
    <a href="mailto:support&#64;shidori.in">support&#64;shidori.in</a> or use
    the in-app Help section.
  </p>
</div>
