<div class="user-sign-wrapper">
  <div class="login-wrapper">
    <div class="login-container login-section" id="login-section">
      <div class="login-form-wrapper">
        <h2>Welcome Back to Shidori</h2>
        <p>Log in with your email</p>

        <form>
          <div class="form-group">
            <label>Employee Code</label>
            <input
              type="email"
              placeholder="Enter your employee code"
              [(ngModel)]="email"
              name="email"
              required
            />
          </div>

          <div class="form-group">
            <label>Password</label>
            <input
              type="password"
              placeholder="Enter your password"
              [(ngModel)]="password"
              name="password"
              required
            />
          </div>

          <div class="button-group">
            <button type="button" class="btn btn-login" (click)="loginUser()">
              Login
            </button>
          </div>

          <p class="help-text">
            <b>
              Please contact support&#64;shidori.in or use the in-app Help
              section.
            </b>
          </p>
        </form>
      </div>

      <div class="side-panel">
        <h1>Let’s Get Started !</h1>
      </div>
    </div>
  </div>
</div>
