<!-- SUBSCRIPTION PLANS -->
<div class="plans-area">
  <h2>Pick your subscription Plan:</h2>

  <div class="plan-box">
    <h3>Weekly</h3>
    <p>
      Subscribe for a week of nutritious, chef-prepared meals tailored to your
      taste and delivered right on time, every day.
    </p>
    <button class="start-btn black">Start</button>
  </div>

  <div class="plan-box">
    <h3>Biweekly</h3>
    <p>
      Enjoy 14 days of delicious, home-style meals delivered fresh every day –
      perfect balance of taste and <br />
      convenience.
    </p>
    <button class="start-btn black">Start</button>
  </div>
  <div class="plan-box monthly">
    <h3>Monthly</h3>
    <p>
      Make meal-time hassle-free for a month long! Freshly cooked
      dishes,delivered every day to keep you happy, full, and stress-free.
    </p>
    <button class="start-btn black">Start</button>
  </div>
  <div class="plan-box active-plan">
    <h3>Quarterly</h3>
    <p>
      Subscribe quarterly and enjoy 90 days of chef-crafted, hygienic, and
      personalized meals at your doorstep.
    </p>
    <button class="start-btn black">Start</button>
  </div>
</div>
