<!-- <div class="login-container">
  <h2>Super Admin Login</h2>

  <form (ngSubmit)="onLogin()">
    <div class="form-group">
      <label>Email</label>
      <input type="email" [(ngModel)]="email" name="email" required />
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" [(ngModel)]="password" name="password" required />
    </div>

    <button type="submit">Login</button>
  </form>
</div> -->

<div class="user-sign-wrapper">
  <div class="login-wrapper">
    <div class="login-container login-section" id="login-section">
      <!-- ===== Left Form ===== -->

      <div class="login-form-wrapper">
        <div class="manager-content">
          <!-- dropdown container -->
        </div>
        <h2>Welcome Back to Shidori</h2>
        <p>Log in with your email</p>

        <form (ngSubmit)="onLogin()">
          <!-- Email Field -->
          <div class="form-group">
            <label>Email</label>
            <input type="email" [(ngModel)]="email" name="email" required />
          </div>

          <!-- Password Field -->
          <div class="form-group">
            <label>Password</label>
            <input
              type="password"
              [(ngModel)]="password"
              name="password"
              required
            />
          </div>

          <!-- Buttons -->
          <button class="btn" type="submit">Login</button>

          <div class="signup-link-wrapper">
            <p>
              Don’t have an account?
              <a href="#">Sign Up</a>
            </p>
          </div>

          <p class="help-text">
            <b>
              Please contact support&#64;shidori.in or use the in-app Help
              section.</b
            >
          </p>
        </form>
      </div>

      <!-- ===== Right Side Panel ===== -->
      <div class="side-panel">
        <h1>Let’s Get Started !</h1>
      </div>
    </div>
  </div>
</div>
